/* common shared style */
body {
    font-family: 'Lato', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

.btn-header {
    padding: 20px 43px;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;

}

/* header section  */

.header {
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    justify-content: space-between;
    align-items: center;

}


.header-left {
    padding: 195px 0px 145px 240px;
    gap: 95px;
}

.header-right {
    padding-top: 50px;
    padding-right: 240px;
}

.h1-1 {
    width: 708px;
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

.p1-1 {
    padding-top: 32px;
    padding-bottom: 32px;
    width: 634px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}



/* main section */

.m1h3 {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 178px;
}

.m1mp {

    width: 594px;
    margin: auto;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 24px;
    padding-bottom: 48px;
}

.three-flower {
    display: flex;
    justify-content: space-around;
    width: 70%;
    gap: 24px;
    margin: auto;
}

.flower1 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);

}

.flower-image-1 {
    width: 310px;
    height: 428px;
    padding-top: 110px;
    padding-left: 60px;
}

.flower2 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.flower-image-2 {
    width: 370px;
    height: 370px;
    padding-top: 165px;
    padding-left: 60px;
}


.flower3 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}


.flower-image-3 {
    width: 314px;
    height: 471px;
    padding-top: 65px;
    padding-left: 60px;
}


.Pink-Flower-Tree{
    padding-bottom: 300px;
    padding-left: 150px;

}






























.main3 {
    margin-top: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 620px;
    background: rgba(229, 84, 115, 0.05);
    gap: 190px;
}


.main3-left {

    display: inline;
    /* align-items: center; */
    justify-content: center;
}

.h3-1 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-left: 30px;

}

.off {
    color: #E55473;
}

#p-2 {
    width: 594px;
    text-align: center;

}

.signup {
    margin-left: 200px;
}




.main-four {
    width: 70%;
    margin: auto;
    margin-top: 130px;
    align-items: center;

}

.m4p {
    align-items: center;
}

.four-img {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-bottom: 128px;
}

.four-img li {
    list-style: none;
    width: 342px;
    height: 396px;

}

.h3-2 {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.m4p {
    display: flex;
    width: 594px;
    margin: auto;
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 24px;
    padding-bottom: 48px;
}




.main-five {
    width: 70%;
    margin: auto;
    height: 449px;
    border-radius: 8px;
    background-image: url('Rectangle\ 9.png');
    background-position: center;
    background-repeat: no-repeat;
}

.Get-The-Latest-Deals {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 122px;
}

.coupon {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 48px;
}

.input-subscribe {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;
}

.subs {
    padding: 20px 31px;
}

.email {
    width: 700px;
    height: 64px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    padding-left: 20px;

}




/* footer section */

.footer {
    margin-top: 128px;
    width: 100%;
    height: 449px;
    background-color: #111010;
    color: white;
    padding-top: 128px;

}

.flowershop {
    text-align: center;
    font-size: 48px;
    font-weight: 800;
}

.flower {
    color: #E55473;

}


.footer-paragraph {
    width: 625px;
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: auto;
    padding-top: 24px;
    padding-bottom: 32px;
}

.all-rights {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
    padding-left: 40%;
    text-align: center;
    margin: auto;

}